#gallery {
  display: flex;
  align-items: center;
}

.img-gallery {
  width: 500px;
}

.li-gallery {
  margin-right: 10px;
  list-style-type: none;
}

.li-gallery:last-child {
  margin-right: 0px;
}
